html {
  cursor: url("../images/default_cursor.svg"), default;
}

body {
  overflow: hidden;
  font-family: 'Pangolin';
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(33,83,21,1) 100%);
}


/* ВСТУПИТЕЛЬНЫЙ ЭКРАН */
.block1 {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/stars.svg');
  display: block;
  overflow: hidden;
}
.frog {
  background: url('../images/frog.svg');
  background-size: 100% 100%;
  width: 42%;
  height: 94%;
  position: absolute;
  top: 9%;
  left: 28%;
}

.help {
  position: absolute;
  width: 1209px;
  height: 55px;
  left: 200px;
  top: 50%;
  
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  
  color: #FFFFFF;
  z-index: 3; 
}
.start {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 40%;
  top: 80%;

  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  z-index: 3;


color: #FFFFFF;
}
.box {
  position: absolute;
  width: 109px;
  height: 109px;
}
.eye1 {
  position: absolute;
  display: inline-block;
  justify-content: space-between;
  border-radius: 50%;
  height: 90px;
  width: 100px;
  background: #E27018;
  left: 540px;
  top: 73px;
  z-index: 3;
}
.eye1:after {
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #2D2D2D;
  border-radius: 50%;
  content: " ";
}
.eye2 {
  position: absolute;
  display: inline-block;
  justify-content: space-between;
  border-radius: 50%;
  height: 90px;
  width: 100px;
  background: #E27018;
  left:840px;
  top: 100px;
  z-index: 3;
}
.eye2:after {
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #2D2D2D;
  border-radius: 50%;
  content: " ";
}

.leaf {
  background: url('../images/leaf.svg');
  background-size: 100% 100%;
  position: absolute;
  width: 14%;
  height: 19%;
  right: 12%;
  top: -2%;
}

.leaf1 {
  background: url('../images/leaf1.svg');
  background-size: 100% 100%;
  position: absolute;
  width: 29%;
  height: 42%;
  left: -10%;
  top: -10%;
} 

.leaf2 {
  background: url('../images/leaf2.svg');
  background-size: 100% 100%;
  position: absolute;
  width: 45%;
  height: 45%;
  left: 58%;
  bottom: 5%;
}
.leaf2:hover {
  transform: rotate(180deg);
}
.leaf3 {
  background: url('../images/leaf3.svg');
  background-size: 100% 100%;
  position: absolute;
  width: 35%;
  height: 35%;
  left: 80%;
  top: -1%;
}

.leaf4 {
  background: url('../images/leaf4.svg');
  background-size: 100% 100%;
  position: absolute;
  width: 35%;
  height: 35%;
  left: -10%;
  bottom: -1%;
}


/* ОСНОВНАЯ ИГРА */
.block2 {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/stars.svg');
  display: hidden;
  overflow: hidden;
}

#ground{
  width: 100%;
  height: 150px;
  bottom: 0;
  position: absolute;
  background-color: #4613D8;
}

#character {
  background-image: url('../images/character.svg');
  background-size: cover;
  width: 88px;
  height: 82px;
  position: absolute;
  bottom: 150px; 
  right: calc(100% - 100px);

}

.obstacle {
  position: absolute;
  width: 50px;
  height: 100px;
  bottom: 150px;
  right: 0;
  
  background: black;
}

@keyframes slide {
  0% {left: 100%;}
  100% {left: -100%;}
}